In [10]:
#dependencies
#!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.9-py2.py3-none-any.whl (242 kB)
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.9

WARNING: You are using pip version 21.2.4; however, version 21.3.1 is available.
You should consider upgrading via the 'c:\python\python39\python.exe -m pip install --upgrade pip' command.

In [1]:
import pandas as pd
import numpy as np

## Import Data

In [15]:
#import enrollment data
enroll18 = pd.read_excel('data/Database_SchoolDetail17-18.xlsx', sheet_name = 'EnrollmentTrendsbyGrade')
enroll19 = pd.read_excel('data/Database_SchoolDetail18-19.xlsx', sheet_name = 'EnrollmentTrendsbyGrade')
enroll20 = pd.read_excel('data/Database_SchoolDetail19-20.xlsx', sheet_name = 'EnrollmentTrendsbyGrade')

In [16]:
#import test score data
tests18 = pd.read_excel('data/Database_SchoolDetail17-18.xlsx', sheet_name = 'PSAT-SAT-ACTPerformance')
tests19 = pd.read_excel('data/Database_SchoolDetail18-19.xlsx', sheet_name = 'PSAT-SAT-ACTPerformance')
tests20 = pd.read_excel('data/Database_SchoolDetail19-20.xlsx', sheet_name = 'PSAT-SAT-ACTPerformance')

In [19]:
#import graduation rates data
grad18 = pd.read_excel('data/Database_SchoolDetail17-18.xlsx', sheet_name = 'GraduationRateTrends')
grad19 = pd.read_excel('data/Database_SchoolDetail18-19.xlsx', sheet_name = 'GraduatonRateTrendsProgress')
grad20 = pd.read_excel('data/Database_SchoolDetail19-20.xlsx', sheet_name = 'GraduatonRateTrendsProgress')

In [20]:
enrollement18.head(2)

,CountyCode,CountyName,DistrictCode,DistrictName,SchoolCode,SchoolName,GradePK,GradeKG,Grade01,Grade02,...,Grade04,Grade05,Grade06,Grade07,Grade08,Grade09,Grade10,Grade11,Grade12,Total
0,1,ATLANTIC,10,ABSECON CITY,50,EMMA C ATTALES,0,0,0,0,...,0,97,93,79,106,0,0,0,0,375
1,1,ATLANTIC,10,ABSECON CITY,60,H ASHTON MARSH,39,99,84,86,...,103,0,0,0,0,0,0,0,0,493

## Data cleanup

* Filter to only Essex County schools (Essex County code: 13)

* Create a column for school year
* Merge together each dataset by year
* Average over all schools in Essex County

Grad
* Rename 17-18 columns to match the other datasets